* {
    -fx-font-size: 12;
}

.scan-button {
    -fx-background-color: linear-gradient(#7a99ce, #6180ac);
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.scan-button:hover {
    -fx-background-color: #446287;
}

.default-button {
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#666666, #555555);
}

.default-button:hover {
    -fx-background-color:  #444444;
}

.path-text {
    -fx-background-color:  #999999;
    -fx-text-fill: #eeeeee;
    -fx-border-color: black;
}

.table-view .column-header {
    -fx-background-color: #555555;
}

.table-view .column-header .label {
    -fx-pref-height: 30px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color:  #777777;
}

.table-view .filler {
    -fx-background-color:  #666666;
}
