* {
    -fx-font-size: 12;
}

.default-button {
    -fx-background-color: #666666;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.default-button:hover {
    -fx-background-color: #999999;
}

#container {
    -fx-min-height: 600px;
    -fx-pref-height: 600px;
    -fx-min-width: 800px;
    -fx-pref-width: 800px;
}

.top-hbox {
    -fx-pref-height: 75px;
}

#main-table {
    -fx-pref-height: 425px;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

.bottom-hbox {
    -fx-pref-height: 100px;
}

.top-hbox .top-left-borderpane {
    -fx-pref-width: 550px;
}

.top-hbox .top-left-borderpane .top-left-borderpane-center-hbox {
    -fx-padding: 25px 0 25px 25px;
}

#chooseButton {
    -fx-padding: 5px 15px 5px 15px;
}

#downloadsPathTextField {
    -fx-pref-width: 325px;
    -fx-pref-height: 30px;
}

#loadingImagePane {
    visibility: hidden;
    -fx-pref-width: 100px;
    -fx-background-image: url("/images/loading.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 65px 65px;
    -fx-background-position: center;
}

.top-hbox .top-right-borderpane {
    -fx-pref-width: 250px;
}

#scanButton {
    -fx-padding: 10px 25px;
    -fx-background-color: #2a77bf;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#scanButton:hover {
    -fx-background-color: #369cf4;
}

.bottom-hbox-left-vbox {
    -fx-pref-width: 500px;
}

.bottom-hbox-left-vbox-top-borderpane {
    -fx-pref-height: 50px;
}

.bottom-hbox-left-vbox-top-borderpane-center {

}

#chooseMoviePathButton {
    -fx-pref-width: 100px;
}

#moviePathTextField {
    -fx-pref-width: 300px;
}

.bottom-hbox-left-vbox-bottom-borderpane {
    -fx-pref-height: 50px;
}

.bottom-hbox-left-vbox-bottom-borderpane-center {

}

#chooseTvShowPathButton {
    -fx-pref-width: 100px;
}

#tvShowPathTextField {
    -fx-pref-width: 300px;
}

.bottom-hbox-borderpane {
    -fx-pref-width: 300px;
}

#moveButton {
    -fx-padding: 30px 75px;
}